.box{
  display: flex;
  flex-flow: column;
  padding-top: 30px ;
  width: 230px;
  height:  400px;
  margin: 10px;
}

h4{
  
  font-size: 25px;
}


.details{
  display: flex;
}

.preferiti{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.intestazione{
  border: solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.immagine{
  width: 230px;
  height: 180px;
}

#lista{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.icona{
  height: 25px;
  width: 25px;
}

body {
  font-family: Helvetica, sans-serif;
}



.show-details {
  align-items: center;
  background-color: lavender;
  border: 1px solid darkslateblue;
  border-radius: 3px;
  color: darkslateblue;
  display: flex;
  height: 2em;
  font-weight: bold;
}

.show-details img {
  height: 50%;
  padding: 5px;
}

.hidden {
  display: none;
}
.header{
  height: 10vh;
  background-size: cover;
  background-position: right;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-family: sans-serif;
}



.ricerca{
  height: 50px;
  padding: 10px;
  border: none ;
  border-radius: 25px;
  outline: none;
}

h1{
  height: 50px;
  padding: 10px;
  border: solid ;
  width: 100px;
  border-radius: 25px;
  outline: 2px dashed blue;
}

h1:hover{
  background: blue;
  cursor: pointer;
}

.search{
   height:50px;
  width: 150px;
  background: #ffeb3b;
  border: none;
  color: black;
  border-radius: 25px;
}

.search:hover{
  background: #ffc107;
  cursor: pointer;
}

.box-cerca{
  background: rgba(0,0,0,0.5);
  padding: 30px;
}

